* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar {
    width: 100%;
    display: flex;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
    overflow: hidden;
    font-family: sans-serif;
    background-color: #001f3f;
    color: #d9d9d9;
}

.navbar h1 {
    color: rgb(149, 175, 198);
    font-size: 45px;
}

.navbar ul {
    margin-right: 60px;

}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(164, 174, 174);
    margin-top: -3%;
}

.navbar ul li a:hover {
    color: rgb(104, 173, 173);
    transform: scale(1.05);
    transition: 0.2s;
}
.navbar a.active {
    color: rgb(104, 173, 173); 
    font-weight: bold;
}

.main {
    width: 100%;
    background: url(images/bacckground.avif);
    background-size: cover;
    font-family: sans-serif;
}

.home {
    padding-bottom: 50px;
    padding-top: 80px;
}

.home .info {
    margin-left: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
}

.home .info h1 {
    font-size: 50px;
    color: #D3D3D3;
}

.home .info h3 {
    font-size: 25px;
    letter-spacing: 3px;
    line-height: 30px;
    color: #c3c2c2;
}

.home .info span {
    color: rgb(104, 173, 173);
}

.home .info a {
    text-decoration: none;
    margin: 26px 0;
    margin-bottom: 10px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    color: #c3c2c2;
    background-color: rgb(104, 173, 173);
    /* transition: 0.4s ease; */
    font-weight: bolder;
}

.home .info a:hover {
    background-color: #c5c2c2;
    color: rgb(104, 173, 173);
    transform: scale(1.05);
    transition: 0.2s;
}

.home .image {
    width: 40%;
    height: 80%;
    position: absolute;
    right: 100px;
    bottom: 0;
}

.home .image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    transition: left 2s ease;
    margin-bottom: 10px;
}

.home .image:hover .girl {
    left: 55%;
}

.home .icons a {
    text-decoration: none;
    color: rgb(164, 174, 174);
}

.home .icons ion-icon {
    margin-left: 7%;
    margin-right: -60px;
    color: rgb(164, 174, 174);
    font-size: 40px;
}

.home .icons ion-icon:hover {
    color: rgb(104, 173, 173);
    transform: scale(1.05);
    transition: 0.2s;
}

#about-me {
    width: 100%;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #c3c2c2;
    display: flex;
}

#about-me .image {
    flex-flow: column;
    width: 30%;
    height: 70vh;
    margin-top: 15rem;
}

#about-me .image img {
    width: 90%;
    height: auto;
    padding-left: 20px;
}

#about-me .about-me-div {
    flex: 1;
    margin-left: 20px;
    margin-right: 50px;

}

#about-me h1 {
    color: rgb(104, 173, 173);
    font-size: 45px;
    text-align: center;
}

#about-me h2 {
    color: #d7d5d5;
    font-size: 25px;
    line-height: 24px;
    letter-spacing: 1px;
}
#projects{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
}
#projects .container {
    width: 100%;
    height: auto;
} 
#projects .container h1{
    color: rgb(104, 173, 173);
    font-size: 45px;
    text-align: center;
 }
.card-container {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    /* Space between cards */
    justify-content: center;
}
.card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    overflow: hidden;
    text-align: center;
}
.card:hover{
    transform: scale(1.05);
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.card .card-info{
    height: 100px;
    background-color: #E3F2FD;
}
.card .card-info p{
    color:  rgb(6, 86, 86); 
    padding-top: 7px;
}
.card .card-info h2{
    font-size: 25px;
    padding-top: 10px;
}
.card .card-info a{
    text-decoration: underline;
    color: rgb(104, 173, 173);
}
.card .card-info a:hover{
    color: rgb(28, 203, 203);
}
#contact{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
#contact h1{
    color: rgb(104, 173, 173);
    font-size: 45px;
    text-align: center;
}
.contact-container{
    display: flex;
}
#contact .image{
    flex-flow: column;
    width: 40%;
    height: auto;
    margin-top: 8rem;
}
#contact .image img{
    width: 80%;
    height: auto;
    padding-right: 10px;
}

.form-container{
    flex: 1;
    margin-left: 20px;
    margin-right: 50px;
}
#contact-form{
    width: 80%;
    height: auto;
    padding-left: 50px;
}
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 1.5rem;
    color: #c3c2c2;
}

form input,
form textarea {
    padding: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form textarea{
    height: 150px;
}

#contact-form button {
    margin-top: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    width: 100px;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 10px;
    color: #c3c2c2;
    font-weight: bold;
    background-color: rgb(104, 173, 173);
    transition: 0.4s ease;
    margin-left: 200px;
}

form button:hover {
    color: rgb(104, 173, 173);
    background-color: #c3c2c2;
    transform: scale(1.05);
}

.error {
    color: red;
    font-size: 0.9em;
}
.error-message {
    display: none;
}
.error.active {
    display: block;
}
.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.footer{
    background-color: #001f3f;
    color: #d9d9d9;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 50px;
    margin-top: 0;
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}
.footer-content-right, .footer-content-left, .footer-content-center{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
}
.footer-content-right li{
    list-style-type: none;
    margin-bottom: 10px;
    cursor: pointer;
}
.footer-content-center a{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    margin-bottom: 10px;
    cursor: pointer;
    color: #d9d9d9;
    text-decoration: none;
}
.footer-content-right li:hover, .footer-content-center a:hover{
    transform: scale(1.05);
    color: rgb(104, 173, 173);
    transition: 0.2s;
}
.footer-content-right h2, .footer-content-center h2{
    color: white;
}
.footer-content-left .icons a {
    text-decoration: none;
    color: rgb(164, 174, 174);
}

.footer-content-left .icons ion-icon {
    margin-left: 50px;
    color: rgb(164, 174, 174);
    font-size: 40px;
}

.footer-content-left .icons ion-icon:hover {
    color: rgb(104, 173, 173);
    transition: 0.2s;
    transform: scale(1.05);
}

.footer hr{
    width: 100%;
    height: 2px;
    margin-top: 20px 0px;
    background-color: grey;
    border: none;
}
@media (max-width: 750px){
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
}


@media (max-width: 768px) {
    .navbar {
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
        position: fixed;
        top: 0;
        z-index: 1;
        overflow: hidden;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        margin-right: 0;
        padding: 0;
    }

    .navbar ul li {
        display: block;
        padding: 10px 0;
    }

    .navbar h1 {
        font-size: 36px;
    }

    .navbar ul li a {
        font-size: 18px;
    }
}
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        position: relative;
    }

    .home .info {
        margin: 0;
    }

    .home .info h1 {
        font-size: 36px;
    }

    .home .info h3 {
        font-size: 18px;
    }

    .home .image {
        position: absolute; 
        width: 90%; 
        max-width: none; 
        margin: 10px 0; 

    }

    .home .image img {
        width: 100%;
        height: auto;
    }

    .home .icons {
        margin-top: 20px;
    }

    .home .icons ion-icon {
        font-size: 30px;
        margin: 0 5px;
    }
}
@media (max-width: 768px) {
    #about-me {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding-left:10px ;
        padding-right: 10px;
    }

    #about-me .image {
        width: 80%;
        height: auto;
        margin-top: 20px;
    }

    #about-me .about-me-div {
        margin: 0;
        text-align: center;
    }

    #about-me h1 {
        font-size: 36px;
    }

    #about-me h2 {
        font-size: 20px;
    }
}
@media (max-width: 768px) {
    #projects {
        flex-direction: column;
        align-items: center;
    }

    .card-container {
        flex-direction: column;
        gap: 50px;
        margin-left: 40px;
    }

    .card {
        width: 90%;
        max-width: 500px;
    }
}
@media (max-width: 768px) {
    #contact {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    #contact .image {
        display: none;
    }

    .form-container {
        margin: 20px;
    }

    #contact-form {
        width: 100%;
        padding: 10px;
    }

    #contact-form button {
        margin-left: 38%;
    }
}
.confirmation-message {
    display: none;
    color: green;
    font-weight: bold;
}
